{{!-- /manager/add?fruit=Apple --}}
<form action="/manager/add" method="get">
    <div class="d-flex gap-3">
        <input type="text" name="fruit" class="form-control"  placeholder="Name">
        <button type="submit" class="btn btn-primary">Add Fruit</button>
    </div>
</form>