<!-- DASHBOARD -->

<h1>Dashboard</h1>

<div class='row mt-5'>

    <!-- Groups -->
    <div class='col'>
        <div class='card bg-dark'>
            <div class='card-body'>
                <h4 class='card-title'> Groups </h4>
                <div class='card-text'>
                    Total Groups: 12
                </div>
            </div>

            
            <div class='card-footer d-flex justify-content-end'>
                <a href='/groups' class='btn btn-primary'> Show Groups </a>
            </div>
        </div>
    </div>
    <!-- Pupils -->
    <div class='col'>
        <div class='card bg-dark'>
            <div class='card-body'>
                <h4 class='card-title'> Pupils </h4>
                <div class='card-text'>
                    Total Pupils: 102
                </div>
            </div>
            <div class='card-footer d-flex justify-content-end'>
                <a href='/pupils' class='btn btn-primary'> Show Pupils </a>
            </div>
        </div>
    </div>

    <div class='col'>
        <div class='card bg-dark'>
            <div class='card-body'>
                <h4 class='card-title'> Teachers </h4>
                <div class='card-text'>
                    Total Teachers: 46
                </div>
            </div>
            <div class='card-footer d-flex justify-content-end'>
                <a href='/teachers' class='btn btn-primary'>
                    Show Teachers
                </a>
            </div>
        </div>
    </div>
</div>

<!-- DASHBOARD -->