<form action="/manager/delete" method="get">
    <div class="d-flex gap-3">
        <input type="number" name="index" class="form-control" placeholder="Index">
        <button type="submit" class="btn btn-danger">Delete Fruit</button>
    </div>
</form>